* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./xo8+QU.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(70px);
    z-index: -1;
}
h1{
    color: rgb(132, 4, 4);
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid whitesmoke;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}
